*{
    background: #3dcf3d;
}
body{
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    text-align: center;
}
h1{
    padding: 0px;
    margin: 0px;
    font-size: 40px;
}
main{
    display: flex;
    flex-direction: row;
}
#menu{
    display: flex;
    flex-direction: column;
    margin: auto;
}
#play{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
}
button{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    margin: 30px;
    border-radius: 10px;
    background: #ffd940;
    font-size: 30px;
}
#cancel{
    background: red;
    color: aliceblue;
}
canvas{
    margin: auto;
    width: 900px;
    margin-right: 30px;
}
p{
    font-size: 30px;
}
#rules{
    margin: auto;
}
