/*-----------------------------------------
PLAYER MNGMT
-----------------------------------------*/
#player img{
    height:110px;
    width:100px;
    background: #E3FFE8;
}
img.disable {
    -webkit-filter: grayscale(100%);  /*Safari 6.0 - 9.0*/
    filter: grayscale(100%);
}
input {
    background:chartreuse;
    height:50px;
    text-align: center;
}
#player {
    position: absolute;
    z-index: 9;
    border: 1px solid #d3d3d3;
    text-align: center;
    background: #E3FFE8;
}
#player > *{
    background: #E3FFE8;
}
#name, #avatarMobile{
    background: white;
}
registration > p{
    background: #E3FFE8;
}
#playerheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #ffd940;
}
#dragdrop {
    width: 200px;
    height: 100px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    background: white;
    display="none";
}

/*-----------------------------------------
GENERAL
-----------------------------------------*/
/*Style for global*/
*{
    background: #3dcf3d;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    text-align: center;
}
h1{
    padding: 0px;
    margin: 0px;
    font-size: 40px;
}
main{
    display: flex;
    flex-direction: row;
}
canvas{
    margin: auto;
    width: 900px;
    margin-right: 30px;
}
p{
    font-size: 30px;
}

/*Style for the menu*/
#menu{
    display: flex;
    flex-direction: column;
    margin: auto;
}
button{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    margin: 30px;
    border-radius: 10px;
    background: #ffd940;
    font-size: 30px;
}

/*Style for Play*/
#play{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
}
#cancel{
    background: red;
    color: aliceblue;
}

/*Style for Rules*/
#rules{
    margin: auto;
}
#rules > img {
    width: 250px;
}
#avatarMobile{
    display: none;
}
#textMobile{
    display: none;
}


/*Style for Hall of Fame*/
#hallOfFame{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
}
th, td {
    padding: 15px;
    text-align: left;
    font-size: 20px;
    background-color: white;
}
th {
    background-color: #003366;
    color: white;
}
tbody img{
    background: white;
}
#tableHOF{
    background: black;
    padding: 0px;
    margin: 0px;
}
#lvlSelector{
    font-size: 20px;
}

/*Style for the mobile-only elements*/
#mobileButtons{
    display: none;
}
#mobileRule{
    display: none;
}
#fireHose{
    display: none;
}
#refFireHose{
    display: none;
}
/*-----------------------------------------
MOBILE DISPLAY
-----------------------------------------*/
@media screen and (max-width: 770px){
    /*Style for global*/
    body{
        padding: 0px;
        margin: 0px;
        width: 100%;
        position: fixed;
    }
    header{
        margin-bottom: 15px;
    }
    main{
        flex-direction: column;
    }
    #avatarMobile{
        display:inherit;
    }
    #textMobile{
        display:block;
    }
    #dragdrop {
        visibility: hidden;
    }
    h1{
        padding: 5px;
        font-size: 25px;
    }
    canvas{
        width: 100%;
    }
    img{
        width: 20%;
    }
    p{
        padding: 5px;
        font-size: 20px;
        margin-right: auto;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    button{
        width: 90px;
        height: 50px;
        padding: 5px;
        font-size: 15px;
        margin: auto;
        margin-bottom: 10px;
    }

    /*Style for the menu*/
    #menu{
        width: 100%;
        flex-direction: row;
    }

    /*Style for Play*/
    #play{
        padding: 0px;
    }

    /*Style for Rules*/
    #rules > img {
        width: 80px;
    }
    #desktopRule{
        display: none;
    }
    #mobileRule{
        display: flex;
    }
    #fireHose{
        display: flex;
    }
    #refFireHose{
        display: flex;
    }

    /*Style for Hall of Fame*/
    th, td {
        font-size: 15px;
        padding: 0px;
    }
    #lvlSelector{
        font-size: 15px;
    }
    #okHOF{
        margin-top: 10px;
    }
    #hallOfFame{
        width: 100%;
        padding: 0px;
    }

    /*Style for the game buttons*/
    #mobileButtons{
        display: flex;
        flex-direction: row;
    }
    #arrows button{
        width: 50px;
        height: 50px;
        border-radius: 0px;
        padding: 0px;
        margin: 0px;
        border: none;
    }
    #topButton{
        background: white;
        background-image: url(ressources/images/website/top_arrow.png);
        background-size:cover;
    }
    #bottomButton{
        background: white;
        background-image: url(ressources/images/website/bottom_arrow.png);
        background-size:cover;
    }
    #leftButton{
        background: white;
        background-image: url(ressources/images/website/left_arrow.png);
        background-size:cover;
    }
    #rightButton{
        background: white;
        background-image: url(ressources/images/website/right_arrow.png);
        background-size:cover;
    }
    #splashButton{
        background: white;
        background-image: url(ressources/images/website/fire_hose.png);
        background-size:cover;
        width: 80px;
        height: 80px;
    }
    #splash{
        margin: auto;
    }
    #arrows{
        margin: auto;
    }
    #topArrow{
        text-align: center;
    }
    #enter{
        margin: auto;
    }
    #enterButton{
        background: white;
        background-image: url(ressources/images/decor/unnamed.png);
        background-size:cover;
        width: 80px;
        height: 80px;
    }
    /*Special layout for Iphone 5*/
    @media screen and (max-width: 350px){
        p{
            padding: 0px;
            margin: 0px;
            font-size: 18px;
        }
        th, td {
            font-size: 13px;
        }
    }
}
